@import "tailwindcss";

:root {
    --primary-color: #7f7cff;
    --secondary-color: #a59bff;
    --primary-accent-color: #4f4de8;
    --primary-active-color: #6e6cd6;
    --text-color: #fff;
    --background-color: #090914;
}

@theme inline {
    --color-background: var(--background-color);
    --color-foreground: var(--text-color);
    --color-primary: var(--primary-color);
    --color-secondary: var(--secondary-color);
    --color-accent: var(--primary-accent-color);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background-color);
    color: var(--text-color);
    color-scheme: dark;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: "Plein", sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Tanker", sans-serif;
    font-weight: 400;
}

.swevline {
    font-family: "Plein", sans-serif;
    font-weight: 700;
}
